<?xml version="1.0" encoding="UTF-8"?>
<phpunit
      bootstrap                   ="vendor/autoload.php"
      backupGlobals               = "false"
      backupStaticAttributes      = "false"
      colors                      = "true"
      convertErrorsToExceptions   = "true"
      convertNoticesToExceptions  = "true"
      convertWarningsToExceptions = "true"
      processIsolation            = "false"
      stopOnFailure               = "false">
    <testsuites>
        <testsuite name="TestSuite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <report>
            <!-- 视觉化报告 -->
            <clover outputFile="./tests/report/coverage.xml" /><!-- 上传到Codecov -->
            <html outputDirectory="./tests/report/" lowUpperBound="50" highLowerBound="90" />
            <!-- <html outputDirectory="../phalcon_shop/public/report/" lowUpperBound="50" highLowerBound="90" /> -->
        </report>
        <include>
            <directory suffix=".php">src/library/</directory>
        </include>
    </coverage>
    <logging>
        <junit outputFile="./tests/report/logging.xml" />
    </logging>
    <php>
      <env name="phpunit" value="1"/><!-- php环境变量$_ENV['phpunit'] -->
    </php>
</phpunit>
