{
    "superUrl": [
        "vmess://xxxxx"
    ],
    "trojan":[
        {
            "domain": "www.domain.com",
            "port": "443"
        }
    ],
    "mysqlConfig": {
        "dbname": "test",
        "host": "127.0.0.1",
        "username": "root",
        "password": "pwd"
    }
}
