{
    "debug": true,
    "domain": "www.domain.com:80",
    "superUrl": [
        ""
    ],
    "trojan": [
        {
            "domain": "www.domain2.com",
            "port": "443",
            "wsPath": "/trojan-go-ws/"
        }
    ],
    "telegram": {
        "token": "0123456789:AAxxxx",
        "id": 123456789
    }
}
