{
  "debug": true,
  "domain": "www.domain.com:80",
  "proxy": [
    {
      "name": "VLESS-TCP-XTLS-Vision-REALITY"
      "type": "vless",
      "server": "www.domain2.com",
      "port": "443",
      "tls": true,
      "udp": true,
      "skip-cert-verify": false,
      "client-fingerprint": "chrome",
      "alpn": ["h2", "http/1.1"],
      "sni": "www.domain3.com",
      "uuid": "xxxx",
      "flow": "xtls-rprx-vision",
      "network": "tcp",
      "reality-opts": {
        "public-key": "xxxx",
        "short-id": ""
      },
      "root": true
    },
    {
      "type": "vless",
      "server": "x.x.x.x",
      "port": "443",
      "uuid": "xxxx",
      "network": "ws",
      "ws-opts": {
        "path": "/ws-path",
        "headers": { "host": "www.domain4.com" }
      }
    }
  ],
  "telegram": {
    "token": "0123456789:AAxxxx",
    "id": 123456789
  }
}
